.seven{
    border: 1px solid hsl(0,0%,80%);
    border-radius: 60px;
    box-shadow: 5px 5px 5px hsla(0,0%,0%,0.1);
    padding: 20px;
    display: flex;
    margin: 10px;
    text-align: center;
    max-width: 550px;
    height: 500px;
    display: inline-block;
    margin-left: 150px;
    /* margin-top: 40px; */
    flex-direction: column;
    float: left;
    
    background-color: rgb(176, 224, 230);

}
.eight{
    border: 1px solid hsl(0,0%,80%);
    border-radius: 60px;
    box-shadow: 5px 5px 5px hsla(0,0%,0%,0.1);
    padding: 20px;
    display: flex;
    margin: 10px;
    text-align: center;
    width: 550px;
    height: 500px;
    margin-right: 150px;
    display: inline-block;
    /* margin-left: 60px;
    margin-top: 40px; */
    flex-direction: column;
    float:right;
    background-color: rgb(176, 224, 230);
   
}
.ngo4{
    width: 300px;
    height: 250px;
    border-radius: 50%;
}
